<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428683159789-03md28odt6gu2hthh60m8495hs475mdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428683159789-03md28odt6gu2hthh60m8495hs475mdf</string>
	<key>API_KEY</key>
	<string>AIzaSyC50aM7yNPwLw6HrTHiv8Jc1w2B9b0i8aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>428683159789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firepost</string>
	<key>PROJECT_ID</key>
	<string>firepost1</string>
	<key>STORAGE_BUCKET</key>
	<string>firepost1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428683159789:ios:97771060693e8921f584e4</string>
</dict>
</plist>